.results {
  margin: auto;
  width: 100%;
  max-width: 800px;
}

.row {
  align-items: center;
  color: #444;
  font-weight: 500;
  padding: 20px 0;
  border-top: 1px solid var(--grey-hint);
}

.row > * {
  margin: 0 8px;
}

.flag.flag-icon {
  padding: 0;
  margin-right: 5px;
  border-radius: 4px;
  height: 23px;
  width: 30px;
  overflow: hidden;
  background-color: #ddd;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
}

.table {
  padding: 0 20px;
  margin: 20px 0 60px;
  background: #fff;
  border: 1px solid var(--grey-hint);
  border-radius: 10px;
}

.gold,
.silver,
.bronze {
  padding: 0;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  background-image: linear-gradient(145deg, var(--grey-hint), transparent);
}

.gold {
  background-color: #ffd044;
}

.silver {
  background-color: silver;
}

.bronze {
  background-color: #cd7f32;
}