.results {
  margin: auto;
  width: 100%;
  max-width: 800px;
}

.row {
  align-items: center;
  color: #444;
  font-weight: 500;
  padding: 20px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
}

.row > * {
  margin: 0 8px;
}

.flag.flag-icon {
  padding: 0;
  margin-right: 5px;
  border-radius: 4px;
  height: 23px;
  width: 30px;
  overflow: hidden;
  background-color: #ddd;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
}

.table {
  padding: 0 20px;
  margin: 20px 0 60px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 10px;
}

.Gold,
.Silver,
.Bronze {
  padding: 0;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  background-image: linear-gradient(70deg, rgba(0,0,0,0.07), transparent);
}

.Gold {
  background-color: #ffd044;
}

.Silver {
  background-color: silver;
}

.Bronze {
  background-color: #cd7f32;
}